@font-face {
    font-family: 'Midjungards';
    src: url('./static/fonts/Midjungards.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
    font-family: 'MOONRUNE';
    src: url('./static/fonts/MOONRUNE.eot');
    src: url('./static/fonts/MOONRUNE.eot') format('embedded-opentype'),
         url('./static/fonts/MOONRUNE.woff2') format('woff2'),
         url('./static/fonts/MOONRUNE.woff') format('woff'),
         url('./static/fonts/MOONRUNE.ttf') format('truetype'), 
         url('./static/fonts/MOONRUNE.svg#MOONRUNE') format('svg');
}

html,
body {
    background-color: var(--clr-bg) !important;
    color: var(--clr-text) !important;
}

h1 {
    color: var(--clr-text);
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
    font-family: Quicksand;
}

h2 {
    color: var(--clr-text);
    font-size: 4em;
    font-weight: 100;
    font-family: Quicksand;
    padding-top: 10%;
}

strong {
    font-weight: 600;
}

#simple-title {
    color: var(--clr-text);
    font-size: 1.5em;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 400;
}