@use 'sass:color';

@use '@material/theme/color-palette';

@use '@material/theme/index' as theme with (
  $primary: #5A77A1, 
  $secondary: color.scale(#FCF7F8, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $on-surface: #FCF7F8,
  $background: #1B1B1E,
  $error: color-palette.$red-700,
);

html,
body {
  background-color: #1B1B1E;
  color: theme.$on-surface;
}

a {
  color: #F0A202;
}

a:visited {
  color: color.scale(#F0A202, $lightness: -35%);
}


:root {
  --mdc-text-button-label-text-font: 'Palaquin', sans-serif;
  --mdc-typography-subtitle1-font-family: 'Palaquin', sans-serif;
  --mdc-typography-caption-font-family: 'Palaquin', sans-serif;
  --mdc-typography-subtitle1-color: theme.$on-surface;
  --mdc-floating-label-color: theme.$on-surface;
  --mdc-theme-on-primary: theme.$on-surface;
  --mdc-theme-text-primary-on-background: theme.$on-surface;
}
