@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme) 676778
@use '@material/theme/index' as theme with (
  $primary: #f5b75a,
  $secondary: color.scale(#FCF7F8, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #1B1B1E,
  $error: color-palette.$red-700,
);

html,
body {
  background-color: #1B1B1E;
  color: theme.$on-surface;
}

a {
  color: #F0A202;
}
a:visited {
  color: color.scale(#F0A202, $lightness: -35%);
}
:root {
  --mdc-text-button-label-text-font: 'Palaquin', sans-serif;
  --mdc-typography-subtitle1-font-family: 'Palaquin', sans-serif;
  --mdc-typography-caption-font-family: 'Palaquin', sans-serif;
  --mdc-typography-subtitle1-color: #F2E8CF;
  --mdc-floating-label-color: #F2E8CF;
}